.form-container{
  display:flex;
  flex-direction: column;
  padding:50px;
  border-radius: 8px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

 .form-container .input-container{
   padding:30px;
}

 .form-container .result-container{
  padding: 30px;
  font-size: 2.5em;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(13, 15, 13);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 9px;
  display: inline-block;
  font-size: 16px;
}
input{
  font-size: medium;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}